body {
    font-family: 'Arial', sans-serif;
    background-color: #fff; /* White background for a clean look */
    color: #333; /* Dark text for readability */
}

/* Navigation Bar Styling */
.navbar {
    background-color: #fff; /* White background */
    border-bottom: 2px solid #54C6D0; /* Cyanish blue border */
}
.navbar-brand, .nav-link {
    color: #333; /* Dark text */
}
.nav-link:hover {
    color: #FF1A14; /* Red color on hover for links */
}
.mt-5 {
    margin-top: 0;
}

/* Banner Styling */
.banner img {
    width: 100%;
    height: auto;
    border-bottom: 2px solid #54C6D0; /* Cyanish blue border */
}

/* Section Styling */
section {
    padding: 40px 0;
}

/* Section Titles */
section h2 {
    color: #00bcd4; /* Cyanish blue for headings */
    margin-bottom: 20px;
}

/* Footer Styling */
footer {
    background-color: #f8f9fa; /* Light grey background */
    color: #333; /* Dark text */
    border-top: 2px solid #00bcd4; /* Cyanish blue border */
    padding: 10px 0;
    margin-top: 40px;
}

