body {
    font-family: 'Arial', sans-serif;
    background-color: #fff; /* White background for a clean look */
    color: #333; /* Dark text for readability */
}

/* Navigation Bar Styling */
.navbar {
    background-color: #fff; /* White background */
    border-bottom: 2px solid #54C6D0; /* Cyanish blue border */
}
.navbar-brand, .nav-link {
    color: #333; /* Dark text */
}
.nav-link:hover {
    color: #FF1A14; /* Red color on hover for links */
}

/* Banner Styling */
.banner img {
    width: 100%;
    height: auto;
    border-bottom: 2px solid #54C6D0; /* Cyanish blue border */
}

/* Section Styling */
section {
    padding: 30px 0;
}

/* Section Titles */
section h2 {
    color: #00bcd4; /* Cyanish blue for headings */
    margin-bottom: 10px;
}

/* Footer Styling */
footer {
    background-color: #f8f9fa; /* Light grey background */
    color: #333; /* Dark text */
    border-top: 2px solid #00bcd4; /* Cyanish blue border */
    padding: 10px 0;
    margin-top: 40px;
}

.div1 {
     border: 3px solid #0f0;
     overflow:auto; // without overflow here, if the "Line 1" and "Line 2" is short then "Next elements" will display below "Line 2" and the image will cover the "Next elements" 
}
.img {
    float: left;
    width:100px;
    height:100px;
    background: #000 
}
.div2 {
    float: left; // without float here, if "Line 1" and "Line 2" is long -> text will display both at right and bottom the image
} 
